# deps
node_modules/

# next
.next/
out/

# env
.env
.env*.local

# uploads (dados de produção, não versionar)
uploads-data/

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
